@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-text: 229deg 25% 31%;
    --score-text: 229deg 64% 46%;
    --header-outline: 217deg 16% 45%;
    --background-gradient-1: 214deg 47% 23%;
    --background-gradient-2: 237deg 49% 15%;
    --paper-gradient-1: 229deg 65% 46%;
    --paper-gradient-2: 230deg 89% 65%;
    --rock-gradient-1: 346deg 77% 35%;
    --rock-gradient-2: 349deg 70% 56%;
    --scissors-gradient-1: 28deg 74% 45%;
    --scissors-gradient-2: 40deg 84% 53%;
  }
  
  body {
    font-family: 'Barlow', sans-serif;
  }
}