@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient {
    background-image: radial-gradient(
      circle at top,
      hsl(var(--background-gradient-1)),
      hsl(var(--background-gradient-2))
    );
  }
  .bg-game {
    background-image: url("/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .score-text { 
    color: hsl(var(--score-text)) 
  } 
  .dark-text { 
    color: hsl(var(--dark-text)) 
  } 
  .header-outline {
    border-color: hsl(var(--header-outline))
  }
  .rock-outer-circle {
    background-color: hsl(var(--rock-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--rock-gradient-1)); 
  }
  .paper-outer-circle {
    background-color: hsl(var(--paper-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--paper-gradient-1)); 
  }
  .scissors-outer-circle {
    background-color: hsl(var(--scissors-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--scissors-gradient-1)); 
  }
  .outer-circle-highlight:hover {
    border: hsl(var(--circle-highlight)/50%) 1em solid;
  }
  .shadow-inner-strong {
    box-shadow: inset 0 10px 0px 0 hsl(var(--choice-inner-shadow));
  }
  .bg-dark-blue {
    background-color: hsl(var(--background-gradient-2));
  }
  .winner {
    box-shadow: 
      0 0 0 30px hsl(var(--winner-highlight)), 
      0 0 0 60px hsl(var(--winner-highlight-2)), 
      0 0 0 90px hsl(var(--winner-highlight-3)); 
  }
}

html,
body {
  @apply bg-gradient; 

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
