@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-1 {
    background-image: radial-gradient(
      circle at top,
      hsl(var(--background-gradient-1)),
      hsl(var(--background-gradient-2))
    );
  }
  .bg-game {
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .score-text { 
    color: hsl(var(--score-text)) 
  } 
  .dark-text { 
    color: hsl(var(--dark-text)) 
  } 
  .header-outline {
    border-color: hsl(var(--header-outline))
  }
  .rock-outer-circle {
    background-color: hsl(var(--rock-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--rock-gradient-1)); 
  }
  .paper-outer-circle {
    background-color: hsl(var(--paper-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--paper-gradient-1)); 
  }
  .scissors-outer-circle {
    background-color: hsl(var(--scissors-gradient-2));
    box-shadow: 0 0.5rem 0 hsl(var(--scissors-gradient-1)); 
  }
 
}

html,
body {
  @apply bg-gradient-1 dark:bg-gray-950; 

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
